body{
	background: url(/img/landscape.jpg);
	background-size: cover;
	height: 100%;
}

.score, .hiscore, .timer{
	display: inline-block;
	
}

.board{
	float: right;
}

.container{
	height: 50px;
}



.hole{
	top: 95px;
	left: 20px;
	width: 80%;
	height: 100px;
	/*background-color: black;*/
	margin: 2px;
	/*border-radius: 50%;*/
	position: relative;
}

.btn{
	position: relative;
}

.hole-container img{
	position: relative;
	top: 135px;
	right: 15px;
}

img{
	left: 30px;
}

.hole-container {
	overflow: hidden;
	width: 20%;
	height: 200px;
	display: block;
	margin: 2px;
	position: relative;
}

.hole-container:first-child{
	top: 0%;
	right: 8%;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hole-container:nth-child(2){
    bottom: 253px;
    left: 56%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(180deg);
}

.hole-container:nth-child(3){
    bottom: 790%;
    left: 87%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(270deg);
}

.hole-container:nth-child(4){
	bottom: 400px;
	right: 8%;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hole-container:nth-child(5){
    bottom: 859px;
    left: 38%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(180deg);
}

.hole-container:nth-child(6){
    bottom: 797px;
    left: 87%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(270deg);
}

.hole-container:nth-child(7){
	bottom: 800px;
    right: 8%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hole-container:nth-child(8){
    bottom: 1465px;
    left: 20%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(180deg);
}

.hole-container:nth-child(9){
    bottom: 2398%;
    left: 87%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(270deg);
}

.hole-container:nth-child(10){
    bottom: 1408px;
    left: 41%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(360deg);
}

.hole-container:nth-child(11){
	bottom: 3225%;
    left: 5%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(0deg);
}

.hole-container:nth-child(12){
    bottom: 3625%;
    left: 23%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(0deg);
}

.hole-container:nth-child(13){
    bottom: 2014px;
    left: 59%;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(360deg);
}




